.ipynb_checkpoints/
__pycache__/
.DS_Store
*.csv
*.txt
*.xlsx
data\*.csv
results\*.csv
*.cpg
*.dbf
*.prj
*.sbn
*.sbx
*.shp
*.shx
*.qmd
*.png
*.tif
*.tiff
*.zip
*json
*.shp.xml
!environments/requirements.txt